html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column;  
}

header {
    align-items: flex-start;
    color: rgb(70, 100, 90);
}

.stock-input {
    display: inherit;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    background-color: rgb(169, 229, 209);
    width: 40vw;
}

.stock-window {
    gap: 0.5em;
    border-radius: 1em;
    background-color: rgb(169, 229, 209);
    width: 40vw;
}